header {
  /* background: #27d1b3; */
  background: rgb(50, 129, 115);
  background: linear-gradient(90deg, rgba(50, 129, 115, 1) 17%, rgba(50, 143, 127, 1) 31%, rgba(47, 170, 148, 1) 49%, rgba(39, 209, 179, 1) 61%);
}

#barra-de-navegacao {
  max-width: 1200px;
  margin: 0 auto;
}

#logo-title {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}

.navbar-nav li a {
  color: rgb(77, 77, 77);
  transition: all 0.3s ease-in;
}

.navbar-nav li a:hover {
  color: white;
}

@media (max-width: 767.98px) {
  header {
    background: #27d1b3;
  }

  .navbar-nav li a {
    color: rgb(255, 255, 255);
  }
}
