#banner {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 80px 0;
  display: flex;
  align-items: center;
  justify-content: left;
  color: rgb(77, 77, 77);
}

#banner img {
  max-width: 600px;
}

#banner-text h1 {
  font-size: 2rem;
}

#banner-text p {
  font-size: 1rem;
  text-align: justify;
}

#banner-text p:nth-child(3) {
  font-size: 0.9rem;
}

#banner-buttons a {
  text-decoration: none;
}

#banner-buttons {
  text-align: center;
}

#banner-buttons i {
  font-size: 1.4rem;
}

.btn-default {
  border: none;
  padding: 10px 15px;
  margin: 10px 15px;
  border-radius: 60px;
  min-width: 160px;
  min-height: 60px;
  color: rgb(77, 77, 77);
  transition: all 0.3s ease-in;
  box-shadow: 1px 1px 5px #3f5d74;
}

.btn1 {
  background: #64b9fc;
  min-width: 180px;
}

.btn1:hover {
  background: #3f5d74;
  color: white;
}

.btn2 {
  background: #27d1b3;
  min-width: 180px;
}

.btn2:hover,
.btn3:hover {
  background: #267e6e;
  color: white;
}

.btn3 {
  background: #27d1b3;
}

#second-main {
  background: #f1f1f1;
  padding: 40px 0;
  margin: 0;
}

#notas {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topicos {
  max-width: 15%;
  color: #3f5d74;
}

.topicos i {
  color: #3f5d74;
  padding: 10px 0;
}

.topicos h3 {
  font-size: 1.1rem;
  color: #318f7e;
}

.topicos p {
  font-size: 0.9rem;
  margin: 0;
}

@media (max-width: 1199.98px) {
  #banner img {
    max-width: 400px;
  }

  #banner-text {
    padding: 0 10px;
  }
}

@media (max-width: 991.98px) {
  #banner-text {
    padding: 20px;
  }
}

@media (max-width: 767.98px) {
  #banner {
    padding: 15px 20px 30px 20px;
  }

  #banner img {
    display: none;
  }

  #banner-text {
    padding: 0;
  }

  #banner-text h1 {
    font-size: 1.4rem;
  }

  #banner-text h1::after {
    display: block;
    content: "";
    background-image: url(../../assets/leitor.png);
    background-size: cover;
    width: 350px;
    height: 350px;
    
  }

  #banner-text p {
    font-size: 0.9rem;
    text-align: justify;
    margin: 0;
  }

  #banner-text p:nth-child(3) {
    padding: 10px 0 0 0;
  }

  #banner-buttons {
    padding-top: 15px;
  }

  #second-main {
    padding: 10px;
  }

  #notas {
    flex-direction: column;
  }

  .topicos {
    max-width: 100%;
    padding: 5px 0;
  }
}
